.header {
  height: 80px;
  background: white;

  &_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }

  &_logo  {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding: 8px 18px;
    margin-left: 4px;

     &:hover:active {
        transform: scale(0.9);
        font-weight: 600;
        color: #52C41A;
        border: 1px solid #52C41A;
        border-radius: 4px;
      }

    span a {
      color: rgba(0, 0, 0, 0.85);

       &:hover, &:active, &:target {
        color: #52C41A;
       }

    }
}

  &:first-child {
    flex-grow: 3;
  }

  &_profile {
    display: flex;
    align-items: center;

  &_user {
    font-size: 18px;
    line-height: 22px;
  }

  & a img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: 5px;
  }
  }



  &_btn {
    padding: 8px 18px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    background-color: white;
    outline: none;
    border: 1px solid transparent;
    color: #52C41A;

    &:hover:active {
        transform: scale(0.9);
        font-weight: 600;
        color: #52C41A;
        border: 1px solid #52C41A;
      }

    a {
      color: rgba(0, 0, 0, 0.85);

      &:active, &:hover, &:target {
      color: #52C41A;
    }
    }
  }

}

.main {
  background: #E5E5E5;
}

#root > div > main > div > ul {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.pages {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

    .pageBtn {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    vertical-align: center;
    border: 1px solid transparent;
    background: transparent;
    margin: 3px;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 40px;
    height: 25px;
    }

    .page, .current-page  {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    vertical-align: center;
    border: 1px solid transparent;
    background: transparent;
    margin: 3px;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 40px;
    height: 25px;

    &:hover {
      border: 1px solid #1890FF;
      background: #1890FF;
      color: #FFFFFF;
    }
}

 .current-page {
      font-weight: 700;
      background: #1890FF;
      color: #FFFFFF;
    }

}

@media (max-width: 490px) {
  .height_loggedIn {
    height: 100px;
  }
}

@media (max-width: 390px) {
  .header {
    &_logo {
      padding-top: 5px;
    }

    &_btn {
      margin: 0;
      margin-right: 5px;
      padding: 8px;
    }
    
  }
}