@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, body {
  margin: 0;
  font-family: Inter;
  padding: 0;
  border: none;
  list-style: none;
  outline: 0;
}

#root {
  background: gray;
  padding-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
